<div class="top-search">
  <div class="container">
      <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control" placeholder="Search">
          <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
      </div>
  </div>
</div>

<div class="all-title-box">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h2>Shop Detail</h2>
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/shopdetails">Shop Detail</a></li>
                  <li class="breadcrumb-item active">Comforters</li>
              </ul>
          </div>
      </div>
  </div>
</div>

<div class="shop-detail-box-main">
  <div class="container">
      <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-6">
              <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                      <div class="carousel-item active"> <img class="d-block w-100" src="assets/BabyGifts/TeethingRing/TeethingRing2.jpg" alt="First slide"> </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-7 col-lg-7 col-md-6">
              <div class="single-product-details">
                  <h2>Duke the Dog - Baby Rattle and Teething Ring</h2>
                  <h5>LKR 700</h5>
      <h4>Short Description:</h4>
      <p>Can you buy this item.It is a Very Comfortable and Teething Ring for Small Babies.It is a very comfortable and teething ring for small babies. It can be given to any small baby and it will strengthen your little one's teeth and also play.</p>
      <ul>
        <li>
          <div class="form-group quantity-box">
            <label class="control-label">Quantity</label>
            <input class="form-control" value="1" min="1" max="10" type="number">
          </div>
        </li>
      </ul>
      <div class="price-box-bar">
        <div class="cart-and-bay-btn">

          <button class="btn hvr-hover" (click)="makePayment(1.92)">Buy Now</button>

        </div>
      </div>

              </div>
          </div>
      </div>
  </div>
</div>
