<div class="top-search">
      <div class="container">
          <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
          </div>
      </div>
  </div>

  <div id="slides-shop" class="cover-slides">

      <img src="assets/Babe5.jpg" alt="Snow" >
        <div class="bottom-left">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="m-b-20" id="h3"><strong>Welcome To <br>LITTLE LAUGHS<br>Online Baby Shop</strong></h1>
                <p class="m-b-40">You are welcome and here you can buy many accessories for babies<br> Come now and easily buy what your little one needs</p>
                <p><a class="btn hvr-hover" href="#"><span>Shop New</span></a></p>
            </div>
            </div>
        </div>
      </div>

  </div>

  <div class="categories-shop">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="shop-cat-box">
                      <img class="img-fluid" src="assets/Babe1.jpg" alt="" />
                      <a class="btn hvr-hover" href="#">Baby Gift Bundle</a>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="shop-cat-box">
                      <img class="img-fluid" src="assets/Babe3.jpg" alt="" />
                      <a class="btn hvr-hover" href="#">Baby Clothing + Toys</a>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="shop-cat-box">
                      <img class="img-fluid" src="assets/Babe4.jpg" alt="" />
                      <a class="btn hvr-hover" href="#">Baby Bathing + Skincare</a>
                  </div>
              </div>
          </div>
      </div>
  </div>

<div class="box-add-products">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="offer-box-products">
          <img class="img-fluid" src="assets/wall5.jpg" alt="" />
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="offer-box-products">
          <img class="img-fluid" src="assets/wall4.jpeg" alt="" />
        </div>
      </div>


    </div>
  </div>
</div>

  <div class="products-box">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="title-all text-center">
                      <h1>Baby Accessories</h1>
                      <p>Baby Clothes, Baby Gifts and Toys, Blankets and Shawls and Other Baby Accessories</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <div class="special-menu text-center">
                      <div class="button-group filter-button-group">
                          <button class="active" data-filter="*">All</button>
                          <button data-filter=".top-featured">Top featured</button>
                          <button data-filter=".best-seller">Best seller</button>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row special-list">
              <div class="col-lg-3 col-md-6 special-grid best-seller">
                  <div class="products-single fix">
                      <div class="box-img-hover">
                          <div class="type-lb">
                              <p class="sale">Sale</p>
                          </div>
                          <img src="assets/images/Vlog/Babies4.jpg" class="img-fluid" alt="Image">
                          <div class="mask-icon">
                              <ul>
                                  <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                  <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                  <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                              </ul>
                              <a class="cart" href="#">Add to Cart</a>
                          </div>
                      </div>
                      <div class="why-text">
                          <h4>Baby Toys</h4>
                          <h5>$3.99- $7.99</h5>
                      </div>
                  </div>
              </div>

              <div class="col-lg-3 col-md-6 special-grid top-featured">
                  <div class="products-single fix">
                      <div class="box-img-hover">
                          <div class="type-lb">
                              <p class="new">New</p>
                          </div>
                          <img src="assets/images/Vlog/Babies3.jpg" class="img-fluid" alt="Image">
                          <div class="mask-icon">
                              <ul>
                                  <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                  <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                  <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                              </ul>
                              <a class="cart" href="#">Add to Cart</a>
                          </div>
                      </div>
                      <div class="why-text">
                          <h4>Baby Clothes</h4>
                          <h5>2.59 - $9.79</h5>
                      </div>
                  </div>
              </div>

              <div class="col-lg-3 col-md-6 special-grid top-featured">
                  <div class="products-single fix">
                      <div class="box-img-hover">
                          <div class="type-lb">
                              <p class="sale">Sale</p>
                          </div>
                          <img src="assets/images/Vlog/Babies2.jpg" class="img-fluid" alt="Image">
                          <div class="mask-icon">
                              <ul>
                                  <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                  <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                  <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                              </ul>
                              <a class="cart" href="#">Add to Cart</a>
                          </div>
                      </div>
                      <div class="why-text">
                          <h4>Baby Comforters</h4>
                          <h5>3.46 - $6.79</h5>
                      </div>
                  </div>
              </div>

              <div class="col-lg-3 col-md-6 special-grid best-seller">
                  <div class="products-single fix">
                      <div class="box-img-hover">
                          <div class="type-lb">
                              <p class="sale">Sale</p>
                          </div>
                          <img src="assets/images/Vlog/Babyvlog3.jpg" class="img-fluid" alt="Image">
                          <div class="mask-icon">
                              <ul>
                                  <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                  <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                  <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                              </ul>
                              <a class="cart" href="#">Add to Cart</a>
                          </div>
                      </div>
                      <div class="why-text">
                          <h4>Baby Gift Packs</h4>
                          <h5>1.99$ - 15.99$</h5>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  <div class="latest-blog">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="title-all text-center">
                      <h1>Plant</h1><h2>Smiles</h2><h1>GROW</h1><h2>laughter</h2><h1>HARVEST</h1><h2>Love</h2>
                      <p>It is the nature of babies to be in bliss</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 col-lg-4 col-xl-4">
                  <div class="blog-box">
                      <div class="blog-img">
                          <img class="img-fluid" src="assets/images/Vlog/Babyvlog.jpg" alt="" />
                      </div>
                      <div class="blog-content">
                          <div class="title-blog">
                              <h3>Fusce in augue non nisi fringilla</h3>
                              <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                          </div>
                          <ul class="option-blog">
                              <li><a href="#"><i class="far fa-heart"></i></a></li>
                              <li><a href="#"><i class="fas fa-eye"></i></a></li>
                              <li><a href="#"><i class="far fa-comments"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-4">
                  <div class="blog-box">
                      <div class="blog-img">
                          <img class="img-fluid" src="assets/images/Vlog/Babyvlog3.jpg" alt="" />
                      </div>
                      <div class="blog-content">
                          <div class="title-blog">
                              <h3>Fusce in augue non nisi fringilla</h3>
                              <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                          </div>
                          <ul class="option-blog">
                              <li><a href="#"><i class="far fa-heart"></i></a></li>
                              <li><a href="#"><i class="fas fa-eye"></i></a></li>
                              <li><a href="#"><i class="far fa-comments"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-4">
                  <div class="blog-box">
                      <div class="blog-img">
                          <img class="img-fluid" src="assets/images/Vlog/Babyvlog4.jpg" alt="" />
                      </div>
                      <div class="blog-content">
                          <div class="title-blog">
                              <h3>Fusce in augue non nisi fringilla</h3>
                              <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                          </div>
                          <ul class="option-blog">
                              <li><a href="#"><i class="far fa-heart"></i></a></li>
                              <li><a href="#"><i class="fas fa-eye"></i></a></li>
                              <li><a href="#"><i class="far fa-comments"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="instagram-box">
      <div class="main-instagram owl-carousel owl-theme">
          <div class="item">
              <div class="ins-inner-box">
                  <img src="assets/images/instagram-img-01.jpg" alt="" />
                  <div class="hov-in">
                      <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="ins-inner-box">
                  <img src="assets/images/instagram-img-02.jpg" alt="" />
                  <div class="hov-in">
                      <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="ins-inner-box">
                  <img src="assets/images/instagram-img-03.jpg" alt="" />
                  <div class="hov-in">
                      <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="ins-inner-box">
                  <img src="assets/images/instagram-img-04.jpg" alt="" />
                  <div class="hov-in">
                      <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="ins-inner-box">
                  <img src="assets/images/instagram-img-05.jpg" alt="" />
                  <div class="hov-in">
                      <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="ins-inner-box">
                  <img src="assets/images/instagram-img-06.jpg" alt="" />
                  <div class="hov-in">
                      <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="ins-inner-box">
                  <img src="assets/images/instagram-img-07.jpg" alt="" />
                  <div class="hov-in">
                      <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="ins-inner-box">
                  <img src="assets/images/instagram-img-08.jpg" alt="" />
                  <div class="hov-in">
                      <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="ins-inner-box">
                  <img src="assets/images/instagram-img-09.jpg" alt="" />
                  <div class="hov-in">
                      <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="ins-inner-box">
                  <img src="assets/images/instagram-img-05.jpg" alt="" />
                  <div class="hov-in">
                      <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
